PORT=3000
DATABASE_URL="postgresql://<user>:<password>@<host>/<db>?sslmode=require&schema=identity_reconciliation"
DIRECT_URL="postgresql://<user>:<password>@<host>/<db>?sslmode=require&schema=identity_reconciliation"
CLIENT_URL="http://localhost:5173"
